.banner {
    max-width: 100%;
}
.main__title {
    margin-top: .3rem;
    color: #000;
    font-size: .16rem;
    font-weight: 700;
}
.main__left {
    margin-top: .2rem;
}
.main__left--nav {
    padding-bottom: .1rem;
    box-shadow: 0 0 .01rem .01rem #eee;
    background-color: #fff;
}
.main__left .nav__title {
    margin: 0;
    border-bottom: .01rem solid #e6e6e6;
    line-height: .62rem;
    font-size: .16rem;
    font-weight: 700;
}
.main__left ul {
    margin-left: 50%;
    transform: translateX(-.37rem);
}
.main__left li {
    margin-top: .3rem;
    color: #29b078;
}
.color-orange {
    font-size: .2rem;
    color: #ff650e;
}
.main__right {
    margin-top: .2rem;
}
.company {
    box-shadow: 0 0 .01rem .01rem #eee;
    line-height: .28rem;
    color: #999;
    text-indent: .24rem;
    background-color: #fff;
}
.company__top {
    padding: .3rem;
}
.company__logo {
    margin: .3rem auto;
    width: 1.22rem;
    height: .33rem;
    background-image: url("../images/task8-3-tudou.png");
    background-size: cover;
}
.company__bottom {
    padding: .3rem;
    border-top: .01rem solid #e6e6e6;
}
.company__bottom p {
    margin-bottom: .3rem;
}
@media all and (min-width: 768px) {
    .company__top {
        padding: .3rem .6rem .2rem .6rem;
    }
    .company__bottom {
        padding-left: .6rem;
        padding-right: .6rem;
    }
}