@import "task2-color";
@import "task2-mixin";

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 625%;
}
body {
  font-size: .14rem;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/*header*/
.header {
  @include mobile-layout;
  @include position(fixed, 0, 0, auto, 0);
  z-index: 999;
  .header__top {
    @include container;
    line-height: .44rem;
    text-align: center;
    color: #fff;
    background-color: $lightblue;
    .close {
      @include decorate-icon(.18rem, .2rem, task2-4, -.25rem, 0);
      @include float(right, .13rem);
    }
    .title {
      margin-left: .2rem;
      margin-right: .2rem;
      font-size: .18rem;
      font-weight: normal;
    }
  }
  .header__bottom {
    @include container;
    position: relative;
    background-color: $whiteblue;
    .message {
      line-height: .41rem;
      color: $darkgray;
    }
    .play {
      @include decorate-icon(.26rem, .26rem, task2-2, 0, 0);
      @include float(right, .07rem)
    }
    .speak {
      @include decorate-icon(.08rem, .06rem, task2-2, -.5rem, 0);
      @include position(absolute, auto, auto, -.06rem, .35rem)
    }
  }
}
/*header end*/

/*main*/
.main {
  @include mobile-layout;
  padding-top: .84rem;
  padding-bottom: 1rem;
  min-height: 7rem;
  background-color: $lightblue;
  .guide {
    margin: .1rem .35rem 0 .35rem;
    font-size: .12rem;
    color: $white;
  }
  .frame {
    position: relative;
    float: left;
    width: 33%;
    height: 1.03rem;
    .card {
      @include box-center(.68rem, .68rem);
      border: 2px solid $white;
      text-align: center;
      .name {
        line-height: .55rem;
        font-size: .16rem;
        color: $darkgray;
        background-color: $fleshcolor;
      }
      .number {
        line-height: .13rem;
        font-size: .12rem;
        color: $white;
        background-color: $darkgreen;
      }
    }
    .knife {
      @include decorate-icon(.15rem, .15rem, task2-2, -.75rem, 0);
      @include position(absolute,auto,auto,-.22rem,.28rem);
      display: none;
    }
  }
}
.shade {
  @include position(fixed,0,0,0,0);
  @include mobile-layout;
  z-index: 999;
  display: none;
  background-color: rgba(0,0,0,.2);
  .popup {
    @include position(absolute,50%,auto,auto,50%);
    display: none;
    box-shadow: 0 0 .01rem .01rem $gray;
    transform: translate(-1.2rem,-1.2rem);
    border-radius: .1rem;
    width: 2.4rem;
    color: $darkgray;
    background-color: $white;
    .clue {
      height: .8rem;
      padding-left: .15rem;
      padding-right: .15rem;
      box-sizing: border-box;
      border-bottom: 1px solid $lightgray;
    }
    .no,
    .yes {
      height: .4rem;
      text-align: center;
    }
    .no {
      box-sizing: border-box;
      border-right: 1px solid $lightgray;
    }
  }
}
/*main end*/

/*footer*/
.footer {
  @include container;
  @include position(fixed, auto, 0, 0, 0);
  @include mobile-layout;
  padding-top: .1rem;
  padding-bottom: .3rem;
  text-align: center;
  background-color: $lightblue;
  .submit{
    display: block;
    width: 100%;
    line-height: .44rem;
    font-size: .2rem;
    text-decoration: none;
    color: #fff;
    background-color: $orange;
  }
}
/*footer end*/