/*Var color*/
$lightblue: #29bde0;
$whiteblue: #b9e9f5;
$orange: #fbb435;
$darkgray: #787878;
$gray: #c9c9c9;
$lightgray: #f0f0f0;
$pink: #ffedc5;
$fleshcolor: #f5c97b;
$darkgreen: #83b09a;
$white: #fff;
$transparent-blue: rgba(41,189,224,0.5);
$lightred: #f66f6f;