/*
---------------------------------
Site: task13-1
Author: XU
Updated: 2017/12/6
Updated by: XU
---------------------------------
*/

/*Var color*/
$lightblue: #29bde0;
$orange: #fbb435;
$darkgray: #787878;
$gray: #c9c9c9;
$lightgray: #f0f0f0;

/*Var border*/
$border: 1px solid $gray;

/*page width*/
@mixin mobile-layout {
  max-width: 640px;
  margin: 0 auto;
}

/*container with padding*/
@mixin container {
  padding-left: .15rem;
  padding-right: .15rem;
}

/*background img*/
@mixin decorate-icon ($width,$height,$imgName,$x,$y) {
  display: inline-block;
  width: $width;
  height: $height;
  background: url("../images/#{$imgName}.png") no-repeat $x $y;
}

/*box style*/
@mixin box-style {
  margin-top: .13rem;
  border: $border;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
}

/*position*/
@mixin position ($mode,$top,$right,$bottom,$left) {
  position: $mode;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 625%;
}
body {
  font-size: .14rem;
}

/*header*/
.header {
  @include mobile-layout;
  @include container;
  height: .44rem;
  background-color: $lightblue;
  .menu {
    @include decorate-icon(.17rem,.14rem,task7-1,0,0);
    margin-top: .2rem;
  }
}
/*header end*/

/*main*/
.main {
  @include mobile-layout;
  @include container;
  @include position(fixed, .44rem, 0, 0, 0);
  background-color: $lightgray;
  .main__top {
    @include box-style;
    position: relative;
    line-height: .59rem;
    font-size: .17rem;
    color: $darkgray;
    .last {
      @include position(absolute, .19rem,.07rem,auto,auto);
      @include decorate-icon(.12rem,.2rem,task7-1,-.25rem,0)
    }
  }
  .main__bottom {
    @include box-style;
    position: relative;
    padding-bottom: .05rem;
    .title {
      line-height: .45rem;
      border-bottom: 1px solid $orange;
      font-size: .18rem;
      font-weight: normal;
      color: $orange;
    }
    a {
      display: inline-block;
      margin-top: .15rem;
      width: 80%;
      line-height: .65rem;
      font-size: .16rem;
      text-decoration: none;
      color: #fff;
      background-color: $lightblue;
    }
    p {
      margin-top: .1rem;
      font-size: .12rem;
      color: darkgray;
    }
    .carousel {
      list-style: none;
      li {
        display: inline-block;
        width: .09rem;
        height: .09rem;
        border-radius: .045rem;
        background-color: $lightgray;
      }
      li:first-child {
        background-color: $lightblue;
      }
    }
    .next {
      @include position(absolute, 1.85rem,.04rem,auto,auto);
      @include decorate-icon(.14rem,.28rem,task7-1,-.5rem,0)
    }
  }
}
/*main end*/

