/*
---------------------------------
Site: task13-3
Author: XU
Updated: 2017/12/8
Updated by: XU
---------------------------------
*/

/*Var color*/
$lightblue: #29bde0;
$transparent-blue: rgba(41,189,224,0.5);
$orange: #fbb435;
$darkgray: #787878;
$gray: #a6a6a6;
$lightgray: #ddd;
$lightred: #f66f6f;
$white: #fff;

/*page width*/
@mixin mobile-layout {
  max-width: 640px;
  margin: 0 auto;
}

/*container with padding*/
@mixin container ($length) {
  padding-left: $length;
  padding-right: $length;
}

/*position*/
@mixin position ($mode,$top,$right,$bottom,$left) {
  position: $mode;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/*float style*/
@mixin float ($direction,$length) {
  float: $direction;
  margin-top: $length;
}

/*background img*/
@mixin decorate-icon ($width,$height,$imgName,$x,$y) {
  display: inline-block;
  width: $width;
  height: $height;
  background: url("../images/#{$imgName}.png") no-repeat $x $y;
}

/*title style*/
@mixin title ($size) {
  font-weight: normal;
  font-size: $size;
  text-align: center;
  color: $white;
}

/*list inline*/
@mixin list-inline {
  list-style: none;
  li {
    display: inline-block;
  }
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 625%;
}
body {
  font-size: .12rem;
}

/*header*/
.header {
  @include position(fixed, 0, 0, auto, 0);
  @include mobile-layout;
  @include container (.15rem);
  box-sizing: border-box;
  z-index: 999;
  line-height: .44rem;
  background-color: $lightblue;
  .home {
    @include decorate-icon(.26rem, .2rem, task7-4, -.75rem, 0);
    @include float(left, .13rem);
  }
  .about {
    @include decorate-icon(.2rem, .2rem, task7-4, -.5rem, 0);
    @include float(right, .13rem);
  }
  .title {
    @include title(.18rem);
  }
}
/*header end*/

/*main*/
.main {
  @include mobile-layout;
  margin-top: .44rem;
  height: 5rem;
  .main__top {
    @include container(.36rem);
    padding-top: .77rem;
    padding-bottom: .1rem;
    background: url("../images/task7-3.png") no-repeat center .12rem;
    background-color: $lightblue;
    h4 {
      @include title(.24rem);
    }
    .text__great {
      margin-top: .12rem;
      margin-bottom: .3rem;
      font-size: .16rem;
      color: $orange;
    }
    .text {
      color: $white;
      line-height: .18rem;
    }
    .text__role {
      @extend .text;
      @include list-inline;
      li {
        width: .8rem;
      }
    }
  }
  .main__bottom {
    padding-bottom: .7rem;
    .event {
      position: relative;
      @include container(.36rem);
      padding-bottom: .12rem;
      border-bottom: 1px solid $lightgray;
      .event__date {
        font-size: .16rem;
        font-weight: normal;
        line-height: .3rem;
      }
      p {
        line-height: .2rem;
        color: $gray;
      }
      .event__time {
        @include position(absolute, .03rem, .5rem, auto, auto)
      }
    }
  }
}
/*main end*/

.footer {
  @include position(fixed, auto, 0, 0, 0);
  @include mobile-layout;
  z-index: 100;
  padding-top: .12rem;
  padding-bottom: .12rem;
  text-align: center;
  font-size: 0;
  background-color: $transparent-blue;
  a {
    display: inline-block;
    width: 43%;
    line-height: .43rem;
    border-radius: .05rem;
    font-size: .2rem;
    text-decoration: none;
    color: $white;
  }
  .btn__again {
    background-color: $lightred;
    margin-right: 5%;
  }
  .btn__submit {
    background-color: $orange;
  }
}