* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 625%;
}
body {
  font-size: .16rem;
  background-color: #eff0f4;
}
$blue-color: #5fc0cd;
$white-color: #fff;
@mixin a-style {
  text-decoration: none;
  color: inherit;
}
.header {
  text-align: center;
  line-height: .44rem;
  color: $white-color;
  background-color: $blue-color;
  h4 {
    font-size: .18rem;
  }
  @each $header-btn in left, right {
    .btn-#{$header-btn} {
      float: #{$header-btn};
      margin-#{$header-btn}: .15rem;
      @include a-style
    }
  }
}
.main {
  input {
    width: 100%;
    border: none;
    outline: none;
    line-height: .5rem;
  }
  @each $input in tel, password {
    .#{$input} {
      padding-left: .75rem;
      margin-top: .07rem;
      background: url("images/#{$input}.jpg") no-repeat 0 0;
      background-size: .59rem;
      background-color: $white-color;
    }
  }
  .btn-login {
    margin-top: .35rem;
    color: $white-color;
    letter-spacing: .05rem;
    font-size: .16rem;
    background-color: $blue-color;
  }
  .forget {
    @include a-style;
    margin: .1rem .15rem;
    float: right;
    color: $blue-color;
  }
}
