//set column
@mixin col ($all,$n) {
  display: block;
  float: left;
  box-sizing: border-box;
  width: $n/$all*100%;
}

//set background icon
@mixin bg-icon ($width,$height,$imgName,$x,$y) {
  display: inline-block;
  width: $width;
  height: $height;
  background: url("../images/#{$imgName}.png") no-repeat $x $y;
}

//set block vertical center
@mixin v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}