@charset "UTF-8";

//import public color
@import "task14-color";
@import "task14-mixin";

/*main start*/
.section__title {
  margin: 0;
  line-height: .8rem;
  border-bottom: 1px solid $gray-border;
  font-size: .16rem;
  .color-green {
    color: $green;
  }
}
.main__nav {
  padding-top: .14rem;
  padding-bottom: .14rem;
  border-bottom: 1px solid $gray-border;
  font-size: .16rem;
  .navbar-text {
    margin-right: .1rem;
    line-height: .3rem;
  }
  a {
    display: inline-block;
    margin-right: .1rem;
    padding: .06rem .1rem;
    &.checked {
      color: $white;
      background-color: #29b078;
    }
    &:hover {
      @extend .checked
    }
  }
}
.career {
  margin-top: .48rem;
  .career__layout {
    position: relative;
    background-color: $white;
    &:hover .career__explain {
      display: block;
    }
  }
  .career__header {
    padding: .2rem .1rem;
    .career__portrait {
      @include bg-icon(1.39rem,1.39rem,task8-2-portrait,0,0);
    }
    .career__describe {
      margin-left: 1.5rem;
      word-wrap: break-word;
      .career__title {
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 700;
      }
    }
  }
  .career__table {
    width: 100%;
    font-size: .12rem;
    border-top: 1px solid $gray-border;
    td {
      padding: 0 .05rem;
      border-bottom: 1px solid $gray-border;
    }
    .icon-star {
      @include bg-icon(.16rem,.15rem,task14-star,0,0);
    }
    .table__top--left {
      width: 45%;
      line-height: .4rem;
    }
    .table__years {
      line-height: .35rem;
    }
    .table__top--left,
    .table__salary {
      border-right: 1px solid #edf1f2;
    }
    .table__footer {
      line-height: .38rem;
      font-size: .14rem;
      font-weight: 700;
      color: #000;
    }
  }
  .career__tips {
    font-size: .12rem;
    padding: .1rem .05rem;
  }
  .career__explain {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .8rem .4rem;
    color: $white;
    background-color: rgba(0,0,0,.8);
    h5 {
      margin-bottom: .4rem;
    }
    p {
      text-indent: .2rem;
    }
  }
  .color-red {
    color: #f00;
  }
}
/*main end*/