/*header banner*/
.banner .icon-last {
  display: inline-block;
  width: 0.26rem;
  height: 0.46rem;
  background: url("../images/task8__icon.png") no-repeat -1.5rem 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .2rem; }
.banner .icon-next {
  display: inline-block;
  width: 0.26rem;
  height: 0.46rem;
  background: url("../images/task8__icon.png") no-repeat -2rem 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .2rem; }

/*header banner end*/
/*main start*/
.main__items {
  padding-top: .8rem; }

p {
  line-height: .26rem;
  text-align: left;
  color: #999; }

.advantage {
  padding-top: 1rem;
  padding-left: .5rem;
  padding-right: .5rem; }
  .advantage .icon-efficient {
    display: inline-block;
    width: 0.43rem;
    height: 0.62rem;
    background: url("../images/task8__icon.png") no-repeat 0 -0.5rem; }
  .advantage .icon-standard {
    display: inline-block;
    width: 0.6rem;
    height: 0.62rem;
    background: url("../images/task8__icon.png") no-repeat -1rem -0.5rem; }
  .advantage .icon-relation {
    display: inline-block;
    width: 0.52rem;
    height: 0.62rem;
    background: url("../images/task8__icon.png") no-repeat -2rem -0.5rem; }

.count {
  margin-top: .9rem;
  padding: .6rem .5rem;
  border-left: 1px dashed #999; }
  .count .count__number {
    color: #29b078; }
    .count .count__number + p {
      color: #999; }
    .count .count__number .count__icon {
      display: inline-block;
      width: 0.13rem;
      height: 0.13rem;
      background: url("../images/task8__icon.png") no-repeat -2.5rem 0rem;
      margin-right: .14rem; }

.study {
  padding-top: .3rem;
  padding-bottom: .3rem; }
  .study .study__number {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    background: url("../images/task8__icon.png") no-repeat -3rem -0.5rem;
    line-height: .7rem;
    color: #29b078; }
  .study .study__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    right: .4rem; }
  .study .icon-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 0.27rem;
    height: 0.27rem;
    background: url("../images/task8__icon.png") no-repeat -3rem 0;
    right: 15px; }

.carousel--green .carousel-indicators {
  bottom: -.3rem; }
  .carousel--green .carousel-indicators li {
    border: 1px solid transparent;
    background-color: #fff; }
    .carousel--green .carousel-indicators li.checked {
      background-color: #29b078; }

.student {
  margin-top: .2rem;
  padding: .2rem .3rem .3rem .3rem;
  background-color: #fff; }
  .student .img-student1 {
    display: inline-block;
    width: 1.08rem;
    height: 1.08rem;
    background: url("../images/task8-1-portrait_01.png") no-repeat 0 0; }
  .student .img-student2 {
    display: inline-block;
    width: 1.08rem;
    height: 1.08rem;
    background: url("../images/task8-1-portrait_02.png") no-repeat 0 0; }
  .student .img-student3 {
    display: inline-block;
    width: 1.08rem;
    height: 1.08rem;
    background: url("../images/task8-1-portrait_03.png") no-repeat 0 0; }
  .student .img-student4 {
    display: inline-block;
    width: 1.08rem;
    height: 1.08rem;
    background: url("../images/task8-1-portrait_04.png") no-repeat 0 0; }
  .student h5 {
    font-size: .18rem;
    font-weight: 700; }

.company {
  padding-left: 15px;
  padding-right: 15px; }
  .company .company__logo {
    margin: .15rem auto;
    padding: 0; }
    .company .company__logo:hover {
      z-index: 999;
      box-shadow: 0 0 0.02rem 0.02rem #eeeded; }
    .company .company__logo img {
      width: 100%; }

@media all and (max-width: 991px) {
  .main .item1 p {
    text-align: center; }
  .main .count {
    border-left: none; }
  .main .company__logo {
    max-width: 240px; } }
/*main end*/
/*footer start*/
.footer__top .footer__link {
  padding-left: 15px;
  padding-right: 15px;
  color: #999; }
  .footer__top .footer__link .col-md-10-1 {
    padding-left: 0;
    padding-right: 0;
    min-width: .9rem; }
  .footer__top .footer__link a {
    display: inline-block;
    width: auto;
    height: .2rem;
    margin-top: .05rem;
    margin-bottom: .05rem;
    box-sizing: border-box; }
    .footer__top .footer__link a:hover {
      border-bottom: 1px solid #29b078; }
    .footer__top .footer__link a.checked {
      border-bottom: 1px solid #29b078; }
  .footer__top .footer__link span {
    font-weight: 900;
    margin-right: .1rem; }

@media all and (max-width: 991px) {
  .footer__link .col-md-10-1 {
    float: left; } }
/*footer end*/

/*# sourceMappingURL=task14-1.css.map */
