/*
---------------------------------
Site: task14
Author: XU
Updated: 2017/12/14
Updated by: XU
---------------------------------
*/
/*header start*/
.header__top {
  padding-top: .07rem;
  padding-bottom: .08rem; }
  .header__top .tel {
    line-height: .24rem;
    font-size: .16rem;
    color: #29b078; }
  .header__top .login__btn .btn1 {
    display: inline-block;
    width: 0.25rem;
    height: 0.24rem;
    background: url("../images/task8__icon.png") no-repeat -0rem 0; }
  .header__top .login__btn .btn2 {
    display: inline-block;
    width: 0.25rem;
    height: 0.24rem;
    background: url("../images/task8__icon.png") no-repeat -0.5rem 0; }
  .header__top .login__btn .btn3 {
    display: inline-block;
    width: 0.25rem;
    height: 0.24rem;
    background: url("../images/task8__icon.png") no-repeat -1rem 0; }
  .header__top .login__btn span {
    margin-left: .16rem; }

/*header nav*/
.header__nav {
  background-color: #29b078; }
  .header__nav .navbar-header {
    float: left; }
    .header__nav .navbar-header .navbar-toggle {
      display: none;
      float: right;
      padding: .09rem .1rem;
      margin-top: .1rem;
      margin-right: 15px;
      margin-bottom: .1rem;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 4px; }
      .header__nav .navbar-header .navbar-toggle:hover {
        background-color: rgba(0, 0, 0, 0.2); }
      .header__nav .navbar-header .navbar-toggle:focus {
        outline: 0; }
      .header__nav .navbar-header .navbar-toggle .icon-bar {
        display: block;
        width: .2rem;
        height: .03rem;
        border-radius: 1px;
        background-color: rgba(0, 0, 0, 0.4); }
      .header__nav .navbar-header .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 5px; }
    .header__nav .navbar-header .navbar-brand {
      display: block;
      float: left;
      padding: 15px 15px;
      line-height: .7rem; }
      .header__nav .navbar-header .navbar-brand img {
        height: 100%;
        vertical-align: middle; }
  .header__nav .nav a {
    display: inline-block;
    box-sizing: border-box;
    width: 1rem;
    line-height: .95rem;
    color: #fff;
    border-bottom: .05rem solid transparent; }
    .header__nav .nav a:hover {
      border-bottom: 0.05rem solid #fff; }
    .header__nav .nav a.checked {
      border-bottom: 0.05rem solid #fff; }

/*header mobile-style*/
@media all and (max-width: 767px) {
  .header__nav .navbar-header {
    float: none;
    margin-left: -15px;
    margin-right: -15px; }
    .header__nav .navbar-header .navbar-toggle {
      display: block; }
    .header__nav .navbar-header .navbar-brand {
      padding-top: .1rem;
      padding-bottom: .1rem;
      height: .39rem;
      line-height: .39rem; }
  .header__nav .navbar-collapse {
    display: none;
    margin-left: -15px;
    margin-right: -15px; }
  .header__nav .nav {
    width: 100%; }
    .header__nav .nav li {
      width: 100%; }
      .header__nav .nav li a {
        display: inline-block;
        width: 100%;
        line-height: .4rem;
        border-bottom: 1px solid transparent; }
        .header__nav .nav li a:hover {
          border-bottom: 1px solid #fff; }
        .header__nav .nav li a.checked {
          border-bottom: 1px solid #fff; } }
/*header end*/
.main {
  padding-bottom: 1rem;
  background-color: #fafafa; }

/*footer start*/
.footer__bottom {
  color: #fff;
  background-color: #29b078; }
  .footer__bottom .footer__content {
    padding-top: .18rem;
    padding-bottom: .18rem; }
    .footer__bottom .footer__content a {
      display: inline-block;
      margin-top: .15rem;
      margin-bottom: .15rem;
      color: #fff; }
      .footer__bottom .footer__content a.a__r20 {
        padding-right: .2rem; }
  .footer__bottom .copyright {
    border-top: 1px solid #29b078;
    line-height: .3rem;
    font-size: .12rem; }

/*footer end*/

/*# sourceMappingURL=task14-public.css.map */
