@charset "UTF-8";

//import public color
@import "task14-color";
@import "task14-mixin";

/*main start*/
.banner {
  @media all and (max-width: 425px) {
    img {
      width: 7rem;
      margin-left: 50%;
      transform: translateX(-40%);
    }
  }
}
.main__title {
  margin-top: .3rem;
  font-size: .16rem;
  font-weight: 700;
  .color-green {
    color: $green;
  }
}
.main__left,
.main__right {
  margin-top: .2rem;
}

.main__left--nav {
  padding-bottom: .3rem;
  background-color: $white;
  .nav__title {
    margin: 0;
    border-bottom: .01rem solid $gray-border;
    line-height: .62rem;
    font-weight: 700;
  }
  ul {
    margin-left: 50%;
    transform: translateX(-.37rem);
    li {
      margin-top: .3rem;
      color: $green;
    }
  }
  .color-orange {
    font-size: .2rem;
    color: #ff650e;
  }
}
.main__right {
  .company {
    line-height: .28rem;
    color: $gray;
    text-indent: .24rem;
    background-color: $white;
  }
  .company__top {
    .company__logo {
      padding: .5rem 0 .5rem .6rem;
      .logo-tudou {
        @include bg-icon(1.22rem,.33rem,task8-3-tudou,0,0);
      }
    }
    .company__introduce {
      padding: .3rem .6rem .3rem 0;
    }
  }
}
.company__bottom {
  padding: .3rem .45rem;
  border-top: .01rem solid #e6e6e6;
}
.company__bottom p {
  margin-bottom: .3rem;
}

@media all and (max-width: 991px) {
  .main__right {
    .company__top {
      .company__logo {
        padding-right: .6rem;
      }
      .company__introduce {
        padding-left: .6rem;
      }
    }
  }
}
/*main end*/