* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 625%;
}
body {
  font-size: .14rem;
}
$lightblue: #5fc0cd;
$dackgray: #999;
$lightred: #e26163;
$white: #fff;
$border: 1px solid #e1e5e7;
@mixin container {
  padding-left: .15rem;
  padding-right: .15rem;
}
@mixin fixed ($top,$bottom) {
  position: fixed;
  top: $top;
  left: 0;
  right: 0;
  bottom: $bottom;
}
@mixin v-center ($half-height) {
  position: absolute;
  top: 50%;
  transform: translateY(-#{$half-height});
}
@mixin decorate-icon ($width,$height,$imgName,$x,$y) {
  display: inline-block;
  width: $width;
  height: $height;
  background: url("images/#{$imgName}.png") no-repeat $x $y;
}
@mixin btn-style ($width,$height,$radius,$f-color,$b-color) {
  width: $width;
  height: $height;
  border: none;
  border-radius: $radius;
  color: $f-color;
  background-color: $b-color;
}
@mixin position ($top,$right,$left) {
  position: absolute;
  top: $top;
  right: $right;
  left: $left;
}
.header {
  @include fixed(0,auto);
  z-index: 999;
}
.header__top {
  @include container;
  padding-top: .05rem;
  padding-bottom: .04rem;
  background-color: $lightblue;
  a {
    float: right;
    margin-top: .06rem;
    @include decorate-icon(.22rem,.22rem,worker_sprite,0,0)
  }
  .btn__group {
    @include btn-style (1.44rem,.35rem,.05rem,inherit,#55a8b3);
    margin: 0 auto;
    font-size: 0;
  }
  .btn__employer {
    @include btn-style (.72rem,.35rem,.05rem,$white,transparent);
  }
  .btn__workers {
    @include btn-style (.72rem,.35rem,.05rem,$lightblue,$white);
  }
}
.header__bottom {
  font-size: 0;
  border-bottom: $border;
  .menu {
    position: relative;
    display: inline-block;
    width: 33.33%;
    font-size: .14rem;
    background-color: $white;
  }
  button {
    @include btn-style(100%,.4rem,0,$dackgray,$white);
    background: url("images/nav_line.png") no-repeat right 0;
    background-size: contain;
    span {
      position: absolute;
      top: .18rem;
      right: .07rem;
      @include decorate-icon(.08rem,.04rem,worker_sprite,-.24rem,0)
    }
  }
  ul {
    display: none;
    position: absolute;
    width: 100%;
    list-style: none;
    background-color: $white;
    li {
      text-align: center;
    }
  }
  button:hover + ul {
    display: block;
  }
}
.main {
  margin-top: .84rem;
  margin-bottom: .53rem;
}
.main__items {
  position: relative;
  padding-top: .1rem;
  padding-left: .33rem;
  border-bottom: $border;
  color: $dackgray;
  p {
    margin-bottom: .1rem;
  }
  .date {
    color: #000;
  }
  .price {
    @include position(.37rem,.37rem,auto);
    color: $lightred;
    font-size: .15rem;
  }
  .date-img {
    @include position(.13rem,auto,.15rem);
    @include decorate-icon(.12rem,.12rem,worker_sprite,-.5rem,0)
  }
  .address-img {
    @include position(.72rem,auto,.16rem);
    @include decorate-icon(.1rem,.12rem,worker_sprite,-.75rem,0);
  }
  .next {
    @include position(.38rem,.16rem,auto);
    @include decorate-icon(.09rem,.17rem,worker_sprite,-1rem,-.25rem);
  }
}
.footer {
  @include fixed(auto,0);
  padding: .01rem .83rem;
  border-top: $border;
  text-align: center;
  background-color: #f8fafb;
  @each $d in left,right {
    .footer__btn--#{$d} {
      margin-top: .06rem;
      float: #{$d};
      @include btn-style(.3rem,auto,0,$lightblue,transparent)
    }
  }
  .footer__btn--right {
    color: $dackgray;
  }
  .icon__home {
    @include decorate-icon(.24rem,.2rem,worker_sprite,-.5rem,-.25rem);
  }
  .icon__mine {
    @include decorate-icon(.22rem,.2rem,worker_sprite,-.75rem,-.25rem);
  }
  .icon__write {
    @include decorate-icon(.47rem,.47rem,worker_sprite,0rem,-.25rem);
    border: none;
  }
}