* {
    padding: 0;
}
@media all and (max-width: 767px){
    html {
        font-size: 480%;
    }
    .container {
        width: 90%;
    }
    .logo-site {
        margin-left: 5%;
    }
    .container-fluid .mini__nav {
        position: relative;
        padding: 0;
        width: 100%;
        border: none;
        box-shadow: none;
        background-color: #29b078;
    }
    .nav__menu {
        margin-top: .25rem;
        margin-right: 5%;
        border: none;
        font-size: .35rem;
        color: #333;
        background-color: transparent;
    }
    .mini__nav li a {
        border-bottom: 0.01rem solid transparent;
        line-height: .4rem;
        color: #fff;
    }
    .mini__nav li a:hover {
        background-color: #29b078;
        border-bottom: 0.01rem solid #fff;
        color: #fff;
    }
    .align__center {
        text-align: center;
    }
    .company .company__logo{
        margin: 0 auto;
        width: 240px;
    }
    .main__left dd {
        margin-left: 50%;
        transform: translateX(-.45rem);
    }
}
.color-red {
    color: #f00;
}
.color-green {
    color: #29b078;
}
.box-shadow {
    box-shadow: 0 0 .01rem .01rem #eee;
}
.header__top {
    padding-top: .07rem;
    padding-bottom: .02rem;
}
.header__top .tel {
    color: #29b078;
    line-height: .25rem;
}
.link__btn button {
    width: .25rem;
    height: .25rem;
    margin-right: .15rem;
    border: none;
    background-size: 4rem 1.5rem;
}
.wechat {
    background: url("images/task8__icon.png") no-repeat 0 0;
}
.qq {
    background: url("images/task8__icon.png") no-repeat -.5rem 0;
}
.sina {
    background: url("images/task8__icon.png") no-repeat -1rem 0;
}
.header__nav{
    background-color: #29b078;
}
.logo-site {
    margin-top: .26rem;
    margin-bottom: .1rem;
    width: 1.07rem;
}
.nav {
    font-size: .16rem;
    color: #fff;
}
.nav .option {
    width: 1rem;
    line-height: .77rem;
}
.option:hover {
    border-bottom: .04rem solid #fff;
}
.nav .option a {
    color: #fff;
}
.nav .option a:hover {
    background-color: transparent;
}
.main {
    padding-bottom: .9rem;
    color: #999999;
    background-color: #fafafa;
}
.footer__bottom {
    color: #fff;
    background-color: #29b078;
}
.footer__bottom .copyright {
    border-top: 1px solid #32c086;
    line-height: .3rem;
    font-size: .12rem;
}
.footer__content{
    padding-top: .38rem;
    padding-bottom: .18rem;
}
.footer__content a {
    display: inline-block;
    margin-top: .15rem;
    margin-bottom: .15rem;
    color: #fff;
}
.a__r20 {
    padding-right: .2rem;
}
@media all and (min-width: 768px) and (max-width: 991px){
    html {
        font-size: 625%;
    }
    .container {
        width: 80%;
    }
    .logo-site {
        margin-left: 10%;
    }
    .header__nav .nav {
        margin-right: 10%;
    }
    .align__center {
        text-align: center;
    }
    .main__left dd {
        margin-left: 50%;
        transform: translateX(-.37rem);
    }
}
@media all and (min-width: 992px) and (max-width: 1199px){
    html {
        font-size: 625%;
    }
    .container {
        width: 80%;
    }
    .logo-site {
        margin-left: 10%;
    }
    .header__nav .nav {
        margin-right: 10%;
    }
    .main__left dd {
        margin-left: 50%;
        transform: translateX(-.37rem);
    }
    .main__left {
        padding-right: 0;
    }
}
@media all and (min-width: 1199px){
    html {
        font-size: 625%;
    }
    .container {
        width: 80%;
    }
    .logo-site {
        margin-left: 10%;
    }
    .header__nav .nav {
        margin-right: 10%;
    }
    .main__left dd {
        margin-left: 50%;
        transform: translateX(-.37rem);
    }
}